<!DOCTYPE html>
<html ng-app="secretBoard">
  <head>
    <title>Welcome to Secret Board</title>
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		
	<script src="https://code.angularjs.org/1.5.3/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="/javascripts/main/main.module.js"></script>
    <script src="/javascripts/main/main.config.js"></script>
    <script src="/javascripts/login/login.module.js"></script>
    <script src="/javascripts/login/login.controller.js"></script>
    <script src="/javascripts/auth/auth.module.js"></script>
    <script src="/javascripts/auth/auth.factory.js"></script>
    <script src="/javascripts/register/register.module.js"></script>
    <script src="/javascripts/register/register.controller.js"></script>
    <script src="/javascripts/post/post.module.js"></script>
    <script src="/javascripts/post/post.factory.js"></script>
    <script src="/javascripts/posts-list/posts-list.module.js"></script>
    <script src="/javascripts/posts-list/posts-list.controller.js"></script>
    <script src="/javascripts/new-page/new-post.module.js"></script>
    <script src="/javascripts/new-page/new-post.controller.js"></script>
  </head>
  <body>
  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
    		<ui-view></ui-view>
    	</div>
    </div>
  </body>
</html>
