
<div id="container">
	<form ng-submit="submitNewPost()" style="margin-top:20px">
		<div class="form-group">
			<input type="text" class="form-control" 
			placeholder="Title" ng-model="post.title"></input>
    	</div>
	    	
		<div class="form-group">
			<textarea class="form-control" ng-model="post.body" 
			placeholder="body" rows="5" id="body"></textarea>
    	</div>
		 
	    <button type="submit" class="btn btn-primary">Submit</button>
	    <button type="button" class="btn btn-default" 
	    ng-click="cancel()">Cancel</button>
	</form>
</div>
