
<div class="page-header">
   	<span><h1>{{user.username}}'s Board</h1></span>
</div>

<!-- use query.skip(number of post to be skipped) 
and limit(number of post to be displayed on this page-->

<strong>Total : {{user.numberPosts}}</strong>
<br>

<table class="table table-inverse">
	<thead>
		<tr>
			<th>No.</th>
			<th>Title</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="post in user.posts">
			<th scope="row">{{user.numberPosts - $index - 
			(currentPageNumber - 1) * 10}}</th>
			<td>{{post.title | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>{{post.date}}</td>
		</tr>
	</tbody>
</table>

<form ng-submit="newPost()" style="margin-top:20px">
    <button type="submit" class="btn btn-primary">New post</button>
</form>


<!--here is for the numbers represent the prev/next page--> 
<ul class="pagination">
